/*
Theme Name: WordPress for restaurants child theme
description: WordPress for restaurants child theme
Author: wisnet.com
Author URI: https://wisnet.com
Template: atomic-blocks
Version: 1.0.12
Text Domain: wordpress-for-restaurants-child-theme
GitHub Theme URI: https://github.com/wisnetmaster/wordpress-for-restaurants-child-theme
*/


